@page
@model Minimal_Cliente.Pages.Carrito.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
    string rutaImg = "/img/" + Model.productoCarrito.PRD_RUTA_IMAGEN;
}

<h1>Eliminar</h1>

<div>
    <hr />
    <img src=@rutaImg alt="imagen del producto"
         style="width: 100%; max-width: 100px; max-height: auto;" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.productoCarrito.PRD_DESCRIPCION)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.productoCarrito.PRD_DESCRIPCION)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.productoCarrito.CAR_CANTIDAD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.productoCarrito.CAR_CANTIDAD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.productoCarrito.PRD_PRECIO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.productoCarrito.PRD_PRECIO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.productoCarrito.PRD_PESO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.productoCarrito.PRD_PESO)
        </dd>
    </dl>

    <form method="post">
        <input asp-for="idUsuario" hidden />
        <input type="hidden" asp-for="productoCarrito.CAR_ID" />
        <a onclick="obtenerUsuarioCarrito(this)">
            <input type="submit" value="Eliminar" class="btn btn-danger" onclick="almacenarIdEnForm()"/>
        </a>
    </form>
</div>
