@page
@model Minimal_Cliente.Pages.Carrito.IndexModel

@{
    ViewData["Title"] = "Carrito";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaCarrito[0].CAR_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaCarrito[0].PRD_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaCarrito[0].CLI_USUARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaCarrito[0].CAR_CANTIDAD)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListaCarrito) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CAR_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRD_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_USUARIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAR_CANTIDAD)
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/js/site.js"></script>
<script>
    document.addEventListener("load", cargarEnInput());
</script>