@page
@model Minimal_Cliente.Pages.Carrito.IndexModel

@{
    ViewData["Title"] = "Carrito";
}
@section scripts{ 
<script>
    /*
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/Carrito/OnGet",
            success: function (response) {
                $(response).each(function () {
                    alert("Hello");
                })
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText)
            }
        });
    });
    */

    $(document).ready(function () {
        let botonesEliminar = $(".eliminar");
        console.log(botonesEliminar);

        for (let i = 0; i < botonesEliminar.length; i++) {
            console.log(botonesEliminar[i]);
            botonesEliminar[i].addEventListener("click", function () {
                $.ajax({
                    type: "POST",
                    url: "/Carrito/OnPost?id=83",
                    success: function (response) {
                        $(response).each(function () {
                            alert("Success " + botonesEliminar[i].id);
                        })
                    },
                    failure: function (response) {
                        alert("Failure " + botonesEliminar[i].id);

                    },
                    error: function (response) {
                        alert("Error " + botonesEliminar[i].id);
                    }
                });
            })
        }
        /*
        for (let btn in botonesEliminar) {
            btn.AddEventListener("click", function () {
                $.ajax({
                    type: "POST",
                    url: "#",
                    success: function (response) {
                        $(response).each(function () {
                            alert("Hello" + btn.id);
                        })
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText)
                    }
                });
            });
        };
        */
    })
</script>
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaProductoCarrito[0].CAR_CANTIDAD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaProductoCarrito[0].PRD_PRECIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaProductoCarrito[0].PRD_PESO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaProductoCarrito[0].PRD_DESCRIPCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaProductoCarrito[0].PRD_RUTA_IMAGEN)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListaProductoCarrito) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CAR_CANTIDAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRD_PRECIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRD_PESO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRD_DESCRIPCION)
            </td>
            <td>
                <img src=@Url.Content("~/img/" + item.PRD_RUTA_IMAGEN) alt="imagen del producto"
                     style="width: 100%; max-width: 100px; max-height: auto;" />
            </td>
            <td>
                <div class="btn btn-outline-secondary" id="@item.CAR_ID">
                    <a asp-page="./Edit" asp-route-id="@item.CAR_ID" class="text-decoration-none">Detalles</a>
                </div>
                <div class="btn btn-outline-danger" id="@item.CAR_ID">
                    <a id="@item.CAR_ID" asp-page="./Delete" asp-route-id="@item.CAR_ID" class="text-decoration-none eliminar">Eliminar</a>
                </div>

            </td>

        </tr>
}
    </tbody>
</table>
