@page
@model Minimal_Cliente.Pages.LogIn.Cliente.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE[0].CLI_CONTRASENA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE[0].CLI_CEDULA_RUC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE[0].CLI_EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE[0].CLI_NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE[0].CLI_APELLIDO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE[0].CLI_EDAD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE[0].CLI_SEXO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE[0].CLI_DIRECCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE[0].CLI_CIUDAD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE[0].CLI_PROVINCIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTE[0].CLI_TELEFONO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CLIENTE) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_CONTRASENA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_CEDULA_RUC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_APELLIDO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_EDAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_SEXO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_DIRECCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_CIUDAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_PROVINCIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_TELEFONO)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CLI_USUARIO">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CLI_USUARIO">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CLI_USUARIO">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
