@page
@model Minimal.Pages.Parametros_Generales.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PARAMETROS_GENERALES[0].PAR_VALOR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PARAMETROS_GENERALES) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PAR_VALOR)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PAR_NOMBRE">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PAR_NOMBRE">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PAR_NOMBRE">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
