@page
@model Minimal.Pages.Envio.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ENVIO[0].ENV_DIRECCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ENVIO[0].ENV_PRECIO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ENVIO) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ENV_DIRECCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENV_PRECIO)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ENV_NUMERO">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ENV_NUMERO">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ENV_NUMERO">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
