@page
@model Minimal.Pages.Factura.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FACTURA</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FACTURA.CLI_USUARIO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FACTURA.CLI_USUARIO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FACTURA.TIP_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FACTURA.TIP_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FACTURA.ENV_NUMERO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FACTURA.ENV_NUMERO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FACTURA.FAC_FECHA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FACTURA.FAC_FECHA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FACTURA.FAC_DIRECCION_CLI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FACTURA.FAC_DIRECCION_CLI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FACTURA.FAC_EMAIL_CLI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FACTURA.FAC_EMAIL_CLI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FACTURA.FAC_MONTO_SUBTOTAL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FACTURA.FAC_MONTO_SUBTOTAL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FACTURA.FAC_MONTO_TOTAL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FACTURA.FAC_MONTO_TOTAL)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FACTURA.FAC_NUMERO" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
