@page
@model Minimal.Pages.Tipo_Pago.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TIPO_PAGO[0].TIP_DESC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TIPO_PAGO) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TIP_DESC)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TIP_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TIP_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TIP_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
