@page
@model Minimal.Pages.Categoria.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CATEGORIA[0].CAT_NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CATEGORIA[0].CAT_DESCRIPCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CATEGORIA[0].CAT_MINIATURA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CATEGORIA[0].CAT_RUTA_IMAGEN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CATEGORIA) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CAT_NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAT_DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAT_MINIATURA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAT_RUTA_IMAGEN)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CAT_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CAT_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CAT_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
